language: node_js
node_js: node
install:
- npm install
script:
- npm run set:env
- npm run build:fe
- npm run build:fe-server
before_deploy:
- npm install now --no-save
deploy:
  provider: script
  script: now --token $NOW_TOKEN --public && now alias --token $NOW_TOKEN
  skip_cleanup: true
