language: node_js
node_js: node
install:
- npm install
script: npm run build:fe
deploy:
  provider: gae
  keyfile: service-account.json
  project: affable-audio-118621
  default: true
before_install:
- openssl aes-256-cbc -K $encrypted_15f05a1f8aaa_key -iv $encrypted_15f05a1f8aaa_iv
  -in service-account.json.enc -out service-account.json
  -d