language: node_js
node_js: node
before_install:
- openssl aes-256-cbc -K $encrypted_6b111cce5bfe_key -iv $encrypted_6b111cce5bfe_iv
  -in service-account.json.enc -out service-account.json -d
install:
- npm install
script:
- npm run set:env
- npm run build:fe
before_deploy: npm install now --no-save
deploy:
  provider: script
  script: now --token $NOW_TOKEN
  skip_cleanup: true
