language: node_js
node_js: node
install:
- npm install -g yarn
- yarn install
script: yarn run build
deploy:
  provider: gae
  keyfile: service-account.json
  project: affable-audio-118621
  docker_build: remote